@using MyHearthStoneV2.Common.Enum
@using MyHearthStoneV2.BLL
@using MyHearthStoneV2.Redis
@{
    ViewBag.cssAndJSVersion = TempData["cssAndJSVersion"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>石勒个智 - @ViewBag.Title</title>
    @*<link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css@(ViewBag.cssAndJSVersion)" />*@
    @*<link rel="stylesheet" type="text/css" href="/static/css/icon.css@(ViewBag.cssAndJSVersion)" />*@
    @*<link href="/static/css/default/common.css" rel="stylesheet" type="text/css" />*@
    @*<link href="/static/css/default/link.css" rel="stylesheet" type="text/css" />*@
    @*<link href="/static/js/plug_module/style.css" rel="stylesheet" type="text/css" />*@

    @*<link href="/static/css/v4/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="/static/css/v4/css/docs.min.css" rel="stylesheet" />*@

    <link href="/static/css/v4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/default/common.css@(ViewBag.cssAndJSVersion)" rel="stylesheet" type="text/css" />
    <link href="/static/css/v4/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="/static/css/v4/css/docs.min.css" rel="stylesheet" />
    <link href="/static/css/jquery-confirm.css" rel="stylesheet" />
    <link href="/css/loader.css" rel="stylesheet" />
    @RenderSection("css")
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/fetch.min.js@(ViewBag.cssAndJSVersion)"></script>
    <script src="/Scripts/figlet.js@(ViewBag.cssAndJSVersion)"></script>
    <script src="/Scripts/jquery.cookies.js"></script>
    <script src="/static/js/jquery-confirm.js"></script>
    <script src="/js/basic.js@(ViewBag.cssAndJSVersion)"></script>    
    
    <script src="/js/md5-min.js"></script>
    @RenderSection("js")
</head>
<body>

    @RenderBody()
    <script type="text/javascript">
        var APIURL = "@(System.Configuration.ConfigurationManager.AppSettings["APIURL"])";
    </script>
    
    <div class="progress-indicator" style="display: none;">
        <div class="load-content align-center">
            <div class="load-container load8">
                <div class="loader"></div>
                Proccessing
            </div>
        </div>
    </div>
</body>
</html>

