@using MyHearthStoneV2.Common.Util
@using MyHearthStoneV2.Common.Enum
@using MyHearthStoneV2.Model
@using MyHearthStoneV2.CardLibrary
@{
    Layout = "/Views/Shared/_GameLayout.cshtml";
    ViewBag.Title = "对战";
    string SecretCode = ViewBag.SecretCode;
    List<HS_UserCardGroupDetail> lstCardGroup = ViewBag.lstCardGroup as List<HS_UserCardGroupDetail>;
    if (lstCardGroup == null)
    {
        lstCardGroup = new List<HS_UserCardGroupDetail>();
    }
    DateTime now = DateTime.Now;
}
@section css{
<link href="/css/jquery-ui.css" rel="stylesheet" />
<link href="/css/table.css" rel="stylesheet" />
<link href="/css/OFF-CANVAS/normalize.css" rel="stylesheet" />
<link href="/css/OFF-CANVAS/font-awesome.min.css" rel="stylesheet" />
<link href="/css/OFF-CANVAS/menu_cornermorph.css" rel="stylesheet" />
<link href="/css/notie/default.css" rel="stylesheet" />
<link href="/css/SwitchCardPanel/main.css" rel="stylesheet" />
}
@section js{
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/js/baraja/modernizr.custom.79639.js"></script>
<script src="/js/baraja/jquery.baraja.js"></script>
<script src="/Scripts/linq.min.js"></script>
<script type="text/javascript">
        @(EnumUtil.GetJsonEnum(typeof(CastStyle)));
        @(EnumUtil.GetJsonEnum(typeof(CastCrosshairStyle)));
        @(EnumUtil.GetJsonEnum(typeof(CardType)));
        @(EnumUtil.GetJsonEnum(typeof(Profession)));
</script>
@(Html.Raw(SignUtil.ImportSignJsFile("/js/battle.source.js", ViewBag.cssAndJSVersion)))
}
@(Html.Raw(ViewBag.ConfusionStringToHTML))
<div class="cardDetail hide">

</div>
<div class="arrow hide">
</div>

<div class="content-wrap">
    <div class="HandCardPanel">

    </div>
    <div class="HeroPanel">
        <div class="HeroFrame">
            <div class="Hero" id="enemyHero">

            </div>
            <div class="HeroPower">

            </div>
        </div>
    </div>
    <div class="tableCard">
        <ul id="otherTableCard">
            <li><img src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img src="/images/cards/empty.png"/><div></div><div></div></li>
        </ul>
    </div>
    
    <div class="tableCard">
        <ul id="myTableCard">
            <li><img originalSrc="/images/cards/empty.png" src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img originalSrc="/images/cards/empty.png" src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img originalSrc="/images/cards/empty.png" src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img originalSrc="/images/cards/empty.png" src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img originalSrc="/images/cards/empty.png" src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img originalSrc="/images/cards/empty.png" src="/images/cards/empty.png"/><div></div><div></div></li>
            <li><img originalSrc="/images/cards/empty.png" src="/images/cards/empty.png"/><div></div><div></div></li>
        </ul>
    </div>
    <div class="HeroPanel">
        <div class="HeroFrame">
            <div class="Hero" id="myHero">

            </div>
            <div class="HeroPower">

            </div>
        </div>
    </div>
    <div class="baraja-demo">
        <ul id="baraja-el" class="baraja-container">

        </ul>
    </div> 
</div>
<div class="EnemyPowerPanel">

</div>
<ul class="CurrentPowerPanel">

</ul>
<div class="newline">
    <a href="javascript:;" id="btnTurnEnd"><img style="width:129px;height:62.3px;" src="/images/tables/btn/roundEnd.png" /></a>
</div>
@Html.Partial("/Views/Addons/SignalRChatFrame.cshtml", null)
@section endjs{
    <script src="/js/notie/notie.js"></script>
}