@using System.Configuration
@using MyHearthStoneV2.Common.Util
@{
    ViewBag.Title = "大厅";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.cssAndJSVersion = TempData["cssAndJSVersion"];
}
@section css{
<link href="/css/notie/default.css" rel="stylesheet" />
}
@section js{
<script src="/js/md5-min.js"></script>
<script type="text/javascript">
    var ISDEBUG = @(ConfigurationManager.AppSettings["IsDebug"].TryParseBool() ? "true" : "false");
    $(function(){
        if (!ISDEBUG) {
            eval($("#dst").val());
            eval($("#tsd").val());
        }
    });
</script>
@(Html.Raw(SignUtil.ImportSignJsFile("/js/saloon.source.js")))
}
@(Html.Raw(ViewBag.ConfusionStringToHTML))
<section class="feature-lists">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-block">
                    <div class="detail-line"></div>
                    <h1>游戏大厅</h1>
                    <h4>你可以：创建一个房间，或加入一个别人的房间</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="feature-list">
                    <a href="javascript:;"><i class="icon fa fa-language icon-large"></i><h5><br /></h5></a>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <form id="createsaloonFrom" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please complete all fields correctly." success-redirect="/" class="form-email">
                    <input type="text" name="name" placeholder="房间名" class="input-standard validate-required" style="width:25%">
                    <input type="text" name="password" placeholder="密码（可选）" class="input-standard validate-required" style="width:25%;float:left;margin-left:20px">
                    @*<textarea name="message" placeholder="Your Message" rows="4" class="input-standard validate-required"></textarea>*@
                    <input type="submit" value="创建房间" class="btn btn-sm" id="createsaloon">
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="text-list">
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="dst" value="@(MyHearthStoneV2.BLL.SignJSTextBll.SINGJSTEXT)" />
<input type="hidden" id="tsd" value="@(MyHearthStoneV2.BLL.SignJSTextBll.SALOONJSTEXT)" />

@section endjs{
    <script src="/js/notie/notie.js"></script>
}