@using MyHearthStoneV2.Common.Util
@using MyHearthStoneV2.Model
@using MyHearthStoneV2.Game.CardLibrary
@using MyHearthStoneV2.BLL
@using MyHearthStoneV2.Game.CardLibrary.Hero
@using System.Configuration
@using MyHearthStoneV2.Game
@{
    ViewBag.Title = "创建卡组";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string cardGroupCode = Request["GroupCode"].TryParseString();
    string groupName = "";
    if (!cardGroupCode.IsNullOrEmpty())
    {
        HS_UserCardGroup cardGroup = ViewBag.CardGroup as HS_UserCardGroup;
        ViewBag.Title = cardGroup.GroupName;
        groupName = cardGroup.GroupName;
    }
    List<Card> lstCards = CardUtil.GetCardInRedis();
    ViewBag.cssAndJSVersion = TempData["cssAndJSVersion"];
    List<HS_UserCardGroupDetail> lstCardDetail = ViewBag.lstCardGroupDetail as List<HS_UserCardGroupDetail>;
}
@section css{
<link href="/css/css3_3d.css" rel="stylesheet" />
<link href="/css/jq22.css" rel="stylesheet" />
<link href="/css/reset.css" rel="stylesheet" />    
<link href="/css/slide/component.css" rel="stylesheet" />
}
@section js{    
<script src="/js/cardgroup.js@(ViewBag.cssAndJSVersion)"></script>
<script src="/js/slide/classie.js"></script>
<script src="/js/md5-min.js"></script>
<script type="text/javascript">
    var groupCode = "@(Request["GroupCode"])";
</script>
@(Html.Raw(SignUtil.ImportSignJsFile("/js/cardgroup.source.js", ViewBag.cssAndJSVersion)))
}
@(Html.Raw(ViewBag.ConfusionStringToHTML))
<input type="hidden" id="GroupCode" value="@(Request["GroupCode"])"/>
<div id="container">
    <ul id="grid" class="group" style="@(Request["GroupCode"].IsNullOrEmpty() ? "" : "display:none")">
        @{
            foreach (var card in lstCards.Where(c=>c.CardType== CardType.英雄))
            {
                BaseHero hero = card as BaseHero;
                <li>
                    <div class="details">
                        <h3>@(hero.Name)</h3>
                    </div>
                    <a class="more" href="#@(hero.Profession.ToString())">
                        <img style="width: 200px;height: 225px" src="/images/game/texture/hero/@(hero.Profession.ToString()).png" />
                    </a>
                </li>
            }
        }
        
    </ul>

    <ul id="cards" class="group" style="display:none">
        <li>
            <div class="details">
                <h3>重新选择</h3>
            </div>
            <a class="more" href="javascript:repick();">
                <img src="/images/Druid.jpg">
            </a>
        </li>
        @{
            if (lstCards != null && lstCards.Count > 0)
            {
                foreach (var card in lstCards.Where(c => c is BaseHero == false && c.IsDerivative == false).OrderBy(c => c.Cost))
                {
                    <li>
                        <div class="details">
                            <h3>@(card.Name)</h3>
                        </div>
                        <a class="more" href="javascript:;" cardCode="@(card.CardCode)" cardName="@(card.Name)">
                            <img style="width: 290px;height: 200px" src="/images/cards/texture/@(card.BackgroudImage)">
                        </a>
                    </li>
                }
            }
        }
    </ul>
    <ul id="information">
        <li id="info1">
            <div>
                <h3>Lanterns</h3>
                <p>These lanterns were spotted in Melaka (Malay: Melaka, dubbed The Historic State or Negeri Bersejarah among locals) which is the third smallest Malaysian state, after Perlis and Penang. It is located in the southern region of the Malay Peninsula, on the Straits of Malacca. It borders Negeri Sembilan to the north and the state of Johor to the south. The capital is Malacca City, which is 148 km south east of Malaysia's capital city Kuala Lumpur, 235 km south east to Johor's largest city Johor Bahru and 95 km south east to Johor's second largest city Batu Pahat. This historical city centre has been listed as a UNESCO World Heritage Site since 7 July 2008.</p>
                <p>
                    <a href="#/p/CYJ_Z/">View the full image on Instagram</a>
                </p>
                <a href="#" class="close">x</a>
            </div>
            <span class="backface"></span>
        </li>
        
    </ul>
</div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2" style="overflow: auto">
    <h3><input style="width:150px" placeholder="卡组名称" value="@(groupName)"/></h3>
    @{
        if (lstCardDetail != null && lstCardDetail.Count > 0)
        {            
            <script type="text/javascript">
                cardCount = 30;
            </script>
            foreach (var detail in lstCardDetail.GroupBy(c=>c.CardCode))
            {
                <a href="javascript:removeCard('@(detail.First().CardCode)')" cardCode="@(detail.First().CardCode)">@(detail.First().CardName + " X" + detail.Count())</a>
            }
        }
    }
    <h5><a id="saveCardGroup"  class="btn btn-success">保存卡组</a></h5>
</nav>
@section endjs{
    
}