@using MyHearthStoneV2.Common.Util
@using MyHearthStoneV2.Model
@using MyHearthStoneV2.CardLibrary.Base
@using MyHearthStoneV2.BLL
@using MyHearthStoneV2.CardLibrary.Hero
@using System.Configuration
@{
    ViewBag.Title = "创建卡组";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string cardGroupCode = Request["GroupCode"].TryParseString();
    string groupName = "";
    if (!cardGroupCode.IsNullOrEmpty())
    {
        HS_UserCardGroup cardGroup = ViewBag.CardGroup as HS_UserCardGroup;
        ViewBag.Title = cardGroup.GroupName;
        groupName = cardGroup.GroupName;
    }
    List<Card> lstCards = CardUtil.GetCardInRedis();
    ViewBag.cssAndJSVersion = TempData["cssAndJSVersion"];
    List<HS_UserCardGroupDetail> lstCardDetail = ViewBag.lstCardGroupDetail as List<HS_UserCardGroupDetail>;
}
@section css{
<link href="/css/css3_3d.css" rel="stylesheet" />
<link href="/css/jq22.css" rel="stylesheet" />
<link href="/css/reset.css" rel="stylesheet" />    
<link href="/css/slide/component.css" rel="stylesheet" />
}
@section js{    
<script src="/js/cardgroup.js@(ViewBag.cssAndJSVersion)"></script>
<script src="/js/slide/classie.js"></script>
<script src="/js/md5-min.js"></script>
<script type="text/javascript">
    var groupCode = "@(Request["GroupCode"])";
</script>
@(Html.Raw(SignUtil.ImportSignJsFile("/js/cardgroup.source.js", ViewBag.cssAndJSVersion)))
}
@(Html.Raw(ViewBag.ConfusionStringToHTML))
<input type="hidden" id="GroupCode" value="@(Request["GroupCode"])"/>
<div id="container">
    <ul id="grid" class="group" style="@(Request["GroupCode"].IsNullOrEmpty()?"":"display:none")">
        <li>
            <div class="details">
                <h3>德鲁伊</h3>                
            </div>
            <a class="more" href="#Druid">
                <img src="/images/Druid.jpg">
            </a>
        </li>
        <li>
            <div class="details">
                <h3>圣骑士</h3>
                @*<a class="more" href="#info2">view details</a>*@
            </div>
            <a href="#Paladin">
                <img src="/images/Paladin.jpg">
            </a>
        </li>
        <li>
            <div class="details">
                <h3>法师</h3>
            </div>
            <a href="#Mage">
                <img src="/images/Mage.jpg">
            </a>
        </li>
        <li>
            <div class="details">
                <h3>术士</h3>
            </div>
            <a href="#Warlock">
                <img src="/images/Warlock.jpg">
            </a>
        </li>
        <li>
            <div class="details">
                <h3>战士</h3>
            </div>
            <a href="#Warrior">
                <img src="/images/Warrior.jpg">
            </a>
        </li>
        <li>
            <div class="details">
                <h3>盗贼</h3>
            </div>
            <a href="#Rogue">
                <img src="/images/Rogue.jpg">
            </a>
        </li>
        <li>
            <div class="details">
                <h3>牧师</h3>
            </div>
            <a href="#Priest">
                <img src="/images/Priest.jpg">
            </a>
        </li>
        <li>
            <div class="details">
                <h3>猎人</h3>
            </div>
            <a href="#Hunter">
                <img src="/images/Hunter.jpg">
            </a>
        </li>
        <li>
            <div class="details">
                <h3>萨满</h3>
            </div>
            <a href="#Shaman">
                <img src="/images/Shaman.jpg">
            </a>
        </li>
    </ul>

    <ul id="cards" class="group" style="display:none">
        <li>
            <div class="details">
                <h3>重新选择</h3>
            </div>
            <a class="more" href="javascript:repick();">
                <img src="/images/Druid.jpg">
            </a>
        </li>
        @{
            if (lstCards != null && lstCards.Count > 0)
            {
                foreach (var card in lstCards.Where(c => c is BaseHero == false && c.IsDerivative == false).OrderBy(c => c.Cost))
                {
                    <li>
                        <div class="details">
                            <h3>@(card.Name)</h3>
                        </div>
                        <a class="more" href="javascript:;" cardCode="@(card.CardCode)" cardName="@(card.Name)">
                            <img src="/images/Shaman.jpg">
                        </a>
                    </li>
                }
            }
        }
    </ul>
    <ul id="information">
        <li id="info1">
            <div>
                <h3>Lanterns</h3>
                <p>These lanterns were spotted in Melaka (Malay: Melaka, dubbed The Historic State or Negeri Bersejarah among locals) which is the third smallest Malaysian state, after Perlis and Penang. It is located in the southern region of the Malay Peninsula, on the Straits of Malacca. It borders Negeri Sembilan to the north and the state of Johor to the south. The capital is Malacca City, which is 148 km south east of Malaysia's capital city Kuala Lumpur, 235 km south east to Johor's largest city Johor Bahru and 95 km south east to Johor's second largest city Batu Pahat. This historical city centre has been listed as a UNESCO World Heritage Site since 7 July 2008.</p>
                <p>
                    <a href="#/p/CYJ_Z/">View the full image on Instagram</a>
                </p>
                <a href="#" class="close">x</a>
            </div>
            <span class="backface"></span>
        </li>
        
    </ul>
</div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <h3><input style="width:150px" placeholder="卡组名称" value="@(groupName)"/></h3>
    @{
        if (lstCardDetail != null && lstCardDetail.Count > 0)
        {            
            <script type="text/javascript">
                cardCount = 30;
            </script>
            foreach (var detail in lstCardDetail.GroupBy(c=>c.CardCode))
            {
                <a href="javascript:removeCard('@(detail.First().CardCode)')" cardCode="@(detail.First().CardCode)">@(detail.First().CardName + " X" + detail.Count())</a>
            }
        }
    }
    <h5><a id="saveCardGroup"  class="btn btn-success">保存卡组</a></h5>
</nav>
@section endjs{
    
}