@using MyHearthStoneV2.Model
@using MyHearthStoneV2.Common
@using MyHearthStoneV2.CardLibrary.Base
@using MyHearthStoneV2.BLL
@{
    ViewBag.Title = "我的卡组";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.cssAndJSVersion = TempData["cssAndJSVersion"];
    IPagedItemsResult<HS_UserCardGroup> lstCardGroup = ViewBag.lstCardGroup as IPagedItemsResult<HS_UserCardGroup>;
    List<HS_UserCardGroupDetail> lstCardGroupDetail = ViewBag.lstCardGroupDetail as List<HS_UserCardGroupDetail>;
    List<Card> lstCards = CardUtil.GetCardInRedis();
}
@section css{

}
@section js{
}
<div class="main-container">
    <section class="article-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <p>
                    </p>
                    <ul>
                        <li>
                            <a href="/usercentre/MyCardGroups">我的卡组</a>
                        </li>
                        <li>
                            <a href="/policy/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/policy/aup">Acceptable Use Policy</a>
                        </li>
                    </ul>
                    <p>
                    </p>
                </div>
                <div class="col-md-8 col-sm-9">
                    <div class="article-single">
                        <div class="text-block">
                            <div class="detail-line"></div>
                            <h4 style="text-align:center"><a href="/UserCentre/CardGroup" class="btn">创建卡组</a></h4>
                            <h5></h5>
                        </div>
                        <h3 class="alt-font uppercase">
                            
                        </h3>
                    </div>

                    @{
                        if (lstCardGroup != null && lstCardGroup.TotalItemsCount > 0)
                        {
                            foreach (var model in lstCardGroup.Items)
                            {
                                <div class="article-single">
                                    <div class="text-block">
                                        <div class="detail-line"></div>
                                        <h4><a href="/UserCentre/CardGroup?GroupCode=@(model.GroupCode)#@(model.Profession)">@(model.GroupName)</a></h4>
                                        <h5>@(model.AddTime)</h5>
                                    </div>
                                    @*<h3 class="alt-font uppercase">
                                        卡组明细
                                    </h3>
                                    @{
                                        if (lstCardGroupDetail.Any(c => c.GroupCode == model.GroupCode))
                                        {
                                            var cardGroupDetails = lstCardGroupDetail.Where(c => c.GroupCode == model.GroupCode).OrderBy(c => c.Cost);
                                            int i = 1;
                                            foreach (var detail in cardGroupDetails.GroupBy(c=>c.CardCode))
                                            {
                                                <p>
                                                    <strong>@(i)、</strong>@(lstCards.First(c=>c.CardCode==detail.First().CardCode).Name) X @(detail.Count())
                                                </p>
                                                i++;
                                            }
                                        }
                                    }*@

                                </div>
                            }
                        }
                    }
                    

                </div>
            </div>
        </div>
    </section>
</div>
@section endjs{

}